{% extends "base.html" %}
{% block title %}{{ user.name }}{% endblock %}
{% block content %}
<section class="cta-section py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading">{{ user.quote }}</h2>
    </div><!--//container-->
</section>
<article class="about-section py-5">
    <div class="container">
        <h2 class="title mb-3"></h2>
        <figure><img class="img-fluid" style="width:40%;float:left;margin:10px"
                     src="static/images/about-me.jpeg" alt="image"></figure>
        <p>I am currently a masters student and research assistant at the University of Cape Town, South Africa.
            My specialization is internet measurements and my research is focussed towards understanding the state of
            internet in rural communities of South Africa. My research directly benefits these communities by equipping
            them with a real-time network monitoring and troubleshooting system. Such an addition would make network
            managers and researchers more aware about internet traffic and help in informing policies and network design
            changes. The ultimate goal is to provide these underserved communities a resilient and affordable internet
            access which would increase their overall participation at the global level.
        </p>
        <p>
            I am highly passionate about building scalable systems that solve complex societal problems. In a past life,
            I was a software engineer in the finance technology industry. Transitioning from industry to academia at an
            early stage has been quite a difficult decision for me because I enjoy solving problems which scale to
            massive groups of users and always have an urge to go back to my CS fundamentals at the same time. So it's
            kind of like loving the best of both worlds for me. I have built this website as a side project to share
            my skills and experiences with the tech and academic community. I would love to engage with all of you and
            hear about your experiences through this website. Hope y'all like it!
        </p>
        <p>My blog posts are going be a crazy mixture of my aha moments, DIY experiences, hiking adventures
            and much more! One day you may find me working on fixing a nasty bug and the next day I could
            be learning to play the piano. I am also quite likely to pack my sling bag and run at godspeed towards a
            (beautiful) Cape Town beach I've never seen before.
        </p>
        <div style="flex:33%; padding: 0 4px">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle" src="static/images/uct.jpeg"
                 alt="image">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle" src="static/images/sunset.jpeg"
                 alt="image">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle"
                 src="static/images/sancobb.jpeg" alt="image">
        </div>
        <div style="display:flex; flex-wrap: wrap; padding: 0 4px">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle" src="static/images/penguins.jpeg"
                 alt="image">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle" src="static/images/giraffe.jpeg"
                 alt="image">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle"
                 src="static/images/devilspeak.jpeg" alt="image">
        </div>
        <div style="flex:33%; padding: 0 4px">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle" src="static/images/houtbay.jpeg"
                 alt="image">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle" src="static/images/newlands.jpeg"
                 alt="image">
            <img style="width:33%; height:auto; margin-top:8px; vertical-align:middle"
                 src="static/images/tafelburg.jpeg" alt="image">
        </div>
    </div>
</article><!--//about-section-->
{% endblock %}
